# --- IntelliJ IDEA (Essencial para não subir configurações pessoais) ---
.idea/
out/
build/
*.iml
*.iws
*.ipr

# --- Arquivos Compilados (O "Lixo" gerado pelo Java/Kotlin) ---
*.class
*.jar
*.war
*.zip
*.rar

# --- Logs e Erros ---
*.log
hs_err_pid*